$red: #d86060;
$green: #90c077;
$blue: #8fc0c7;
$white: #f8f8f8;
$black: #606060;

@font-face {
    font-family: 'nova';
    src: url('./font/nova/light.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'nova';
    src: url('./font/nova/regular.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'nova';
    src: url('./font/nova/semibold.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'nova';
    src: url('./font/nova/bold.otf');
    font-weight: 900;
}

@font-face {
    font-family: 'nova';
    src: url('./font/nova/light-italic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'nova';
    src: url('./font/nova/regular-italic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'nova';
    src: url('./font/nova/semibold-italic.otf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'nova';
    src: url('./font/nova/bold-italic.otf');
    font-weight: 900;
    font-style: italic;
}

html {
    font-size: 16px;
    font-family: nova;
    font-weight: 700;
    background-color: $white;
}



.red {
    color: $red;
}

.green {
    color: $green;
}

.blue {
    color: $blue;
}

.white {
    color: $white
}

.black {
    color: $black;
}

.container {
    padding: 12px;
    // margin: 12px;
    background: $white;
    display: inline-grid;
    grid-template-rows: 12% 88%;
    grid-template-columns: 18% 72%;
    width: 100%;
    height: 98vh;

}

.sidenav {
    width: 24%;
    min-width: 240px;
}

.content {
    width: 76%;
}

.item {
    // width: 200px;
    border: solid 1px red;
    // height: 100px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sidenav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}