$red: #d86060;
$green: #90c077;
$blue: #8fc0c7;
$white: #f8f8f8;
$black: #606060;

@font-face {
  font-family: "nova";
  src: url("./font/nova/light.otf");
  font-weight: 400;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/regular.otf");
  font-weight: 700;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/semibold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/light-italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/regular-italic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/semibold-italic.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/bold-italic.otf");
  font-weight: 900;
  font-style: italic;
}

html {
  font-size: 16px;
  font-family: nova;
  font-weight: 400;
  background-color: $white;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.container {
  //   padding: 12px;
  // margin: 12px;
  // background: $white;
  display: inline-grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: 100vh;
}

// .sidenav {
//   width: 24%;
//   min-width: 240px;
// }

// .content {
//   width: 76%;
// }

.item {
  // width: 200px;
  // border: solid 1px red;
  // height: 100px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: solid 1px $white;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 40%;
  border-bottom: solid 1px #ddd;

}

.header-name {
  font-weight: 700;
  padding: 24px;
  font-size: 1.4rem;
  color: $black;
}

.header-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .header-menu-item {
    padding: 24px;
    font-weight: 700;
    font-size: 1.15rem;
    color: $black;
  }
}

.sidenav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-right: solid 1px #ddd;
  padding: 12px;
}

.sidenav-text {
  font-weight: 700;
  font-size: 1.05rem;
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}