@font-face {
  font-family: "nova";
  src: url("./font/nova/light.otf");
  font-weight: 400;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/regular.otf");
  font-weight: 700;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/semibold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/light-italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/regular-italic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/semibold-italic.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "nova";
  src: url("./font/nova/bold-italic.otf");
  font-weight: 900;
  font-style: italic;
}

html {
  font-size: 16px;
  font-family: nova;
  font-weight: 400;
  background-color: #f8f8f8;
}

.red {
  color: #d86060;
}

.green {
  color: #90c077;
}

.blue {
  color: #8fc0c7;
}

.white {
  color: #f8f8f8;
}

.black {
  color: #606060;
}

.container {
  display: inline-grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: 100vh;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: solid 1px #f8f8f8;
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-bottom: solid 1px #ddd;
}

.header-name {
  font-weight: 700;
  padding: 24px;
  font-size: 1.4rem;
  color: #606060;
}

.header-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header-menu .header-menu-item {
  padding: 24px;
  font-weight: 700;
  font-size: 1.15rem;
  color: #606060;
}

.sidenav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-right: solid 1px #ddd;
  padding: 12px;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.sidenav .sidenav-text {
  font-weight: 700;
  font-size: 1.05rem;
  padding: 12px;
}

.sidenav .sidenav-links {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
}

.sidenav .sidenav-links a {
  word-break: break-word;
  margin: 8px;
}

.sidenav .sidenav-footer {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: self-end;
}

.sidenav .sidenav-footer .sidenav-footer-item {
  width: 24px;
  height: 24px;
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
